<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Hi, Welcome to CrimsonBoard{% endblock %}</title>
</head>
<body>
  <header>
    <h1>CrimsonBoard Login</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">log out</a>
    {% else %}
      <a href="{% url 'login' %}">Log In</a>
    {% endif %}

    <h1>CrimsonBoard Sign Up</h1>
      <a href="{% url 'signup' %}">Sign Up</a>
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
</body>
</html>